MONGODB_URI=
AUTH_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=7004574382
NEXT_PUBLIC_PHONE_NUMBER=7004574382
NEXT_PUBLIC_EMAIL=contact@idsexpert.com
NEXT_PUBLIC_ADDRESS=
